

<!doctype html>
<html>
  <head>
    <title>Spyfall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      function generate_32bit_gamekey() { //adapted from https://stackoverflow.com/a/37378421 accessed 6-30-19
        let u = new Uint32Array(1);
        window.crypto.getRandomValues(u); //fill array with crypto-random 8 bit numbers
        let str = u[0].toString(16); //convert bytes to base 16 (hex) string for alphanumeric
        return '00000000'.slice(str.length) + str; //return 8 character long alphanumeric string padded by 0
      }
      
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      
      socket.on( 'connect', function() {
        socket.emit( 'newconnection', {
          data: 'User Connected'
        } )
        
        var form = $( '#newgameform' ).on( 'submit', function( e ) { // On Submission of newgame form, put input strings and generated gameroom key into dictionary to send to Flask webserver
          e.preventDefault()
          let name = $( 'input.newgamename' ).val();
          let duration = $( 'input.duration' ).val();
          let minimumvotes = $( 'input.minimumvotes' ).val();
          let gamekey = generate_32bit_gamekey();
          socket.emit( 'newgame', { 
            name : name,
            duration : duration,
            minimumvotes : minimumvotes,
            gamekey : gamekey
          } );
          window.location.href = '/#waitingroom' // Re-direct user to waiting room tag
          $("#gamekey").text(gamekey) // Recieve the gamekey to display as text in tag with id="gamekey"
        } )
        
        var form = $( '#joingameform' ).on( 'submit', function( e ) { // On submission of joingame form, input strings are put into dictionary and sent to Flask webserver
          e.preventDefault();
          let name = $( 'input.joingamename' ).val();
          let gamekey = $( 'input.gamekey' ).val();
          socket.emit( 'joingame', {
            name : name,
            gamekey : gamekey
          } );
        } )
      } )
      
      socket.on('joingameserver', function(gamekey){ // If user is validated to join gameroom, redirect to waiting room and recieve the gamekey to display as text in tag with id="gamekey"
        window.location.href = '/#waitingroom';
        $("#gamekey").text(gamekey)
      });
      
      socket.on('startgame', function(player_information){ // When the Flask server has initialized variables for the game round, recieve the unique information to display in the socket's webpage
        window.location.href = '/#game';
        $('#role').text(player_information["role"]);
        $('#location').text(player_information["location"]);
        $('#spyqualifier').text(player_information["spyqualifier"]);
        $('#possible_locations').html(player_information["possible_locations"]);
      });
      
      socket.on('update_players', function(players_list){ // When an update of players_list is reported by Flask server, recieve it and display new player list on the page
        $(".players").html(players_list); // Select tags with class "players" to fill in and display current players
      });
    </script>
    <style>
      html, body {
        width:100%;
        height:100%;
        margin:0px;
        padding:0px;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #facbcb
      }
      main {
        display:inline-block;
        margin:0px;
        height:100%;
      }
      
      .page {
        display: none;
      }
      .default {
        display:block;
      }
      
      :target {
        display:block;
      }
      
      :target ~ .default {
        display:none;
      }

    </style>
  </head>
  <body>
    <div id="content">
    <h1>Spyfall</h1>
      <main>
        <div id="newgame" class="page">
          <h1>New Game</h1>
          <form id="newgameform" action="" method="POST">
            <input type="text" class="newgamename" placeholder="Name"/>
            <input type="number" class="duration" placeholder="duration"/>
            <input type="number" class="minimumvotes" placeholder="Minimum Votes"/>
            <input type="submit" value="Create Game"/>
          </form>
          <button onclick="window.location.href = '#home'">back</button>
        </div>
        <div id="joingame" class="page">
            <h1>Join Game</h1>
            <form id="joingameform" action="" method="POST">
              <input type="text" class = "joingamename" placeholder="Name"/>
              <input type="text" class = "gamekey" placeholder="Game Key"/>
              <input type="submit" value="Join Game"/>
            </form>
            <button onclick="window.location.href = '#home'">back</button>
        </div>
        <div id="game" class="page">
            <h1 id="spyqualifier"></h1>
            <h3> Location: </h3><p id="location"></p>
            <h3> Role: </h3><p id="role"></p>
            <h1>Players: </h1><ul class="players"></ul>
            <h1>Possible Locations:</h1><ul id="possible_locations"></ul>
        </div>
        <div id="waitingroom" class="page">
          <h1>Your gamekey is: </h1><p id="gamekey"></p>
          <h1> waiting for players to join</h1>
          <h1>Players: </h1><ul class="players"></ul>
          <button id='startgame' onclick="socket.emit('startgame')">Start Game</button>
        </div>
        <div id="home" class="page default">
          <h1>Welcome!</h1>
          <button onclick="window.location.href = '#newgame'">New Game</button>
          <button onclick="window.location.href = '#joingame'">Join Game</button>
        </div>
      </main>
    </div>
  </body>
</html>

